@using QLSP.Controllers
@model CategoryViewModel

<h1>Danh sách Danh mục Sản phẩm</h1>
<div class="d-flex justify-content-end mb-3">
    <a asp-action="Create" asp-controller="Category" class="btn btn-success"><i class="fa-solid fa-plus"></i> Thêm</a>
</div>
<form asp-controller="Category" asp-action="Index" class="d-flex g-3">
    <div class="flex-grow-1 me-3">
        <input type="text" class="form-control" id="keyWord" name="keyWord" value="@Model.KeyWord" placeholder="Nhập từ cần tìm">
    </div>
    <div class="">
        <button type="submit" class="btn btn-info mb-3"><i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm</button>
    </div>
</form>
<table class="table table-bordered table-hover">
    <tr class="table-success text-center">
        <th>STT</th>
        <th>Mã danh mục</th>
        <th>Tên danh mục</th>
        <th>Thao tác</th>
    </tr>
    @if (Model.Categories != null)
    {
        int index = 1;
        foreach(var category in Model.Categories)
        {
            <tr>
                <td>@(index++)</td>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <a asp-action="Update" asp-controller="Category" asp-route-id="@category.Id" class="btn btn-primary"><i class="fa-solid fa-pencil"></i> Sửa</a>
                    <button class="btn btn-danger"><i class="fa-solid fa-trash"></i> Xóa</button>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="3">Không có danh mục nào cả</td>
        </tr>
    }

</table>
